@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a mi sitio</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Learn about <a href="https://github.com/michaelparra/WebApplication/actions/workflows/master_webapplication.yml">CI/CD github actions and azure web app</a>.</p>
</div>
